.dark {
    --color-bg-primary: #3D3C3F;
    --color-bg-secondary: #242426;
    --color-bg-accent: #57D6C0;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #d1d5db;
    --color-text-accent: #81e6d9;
  }
  
  .light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg-primary);
}

span {
    vertical-align: middle;
}
